.btn {
    padding: .5rem;
    border-radius: 2rem;
    text-decoration: none;
    color: $Blanco;
    font-size: 2rem;
    text-align: center;
}
.btn-verde{
    background-color: $Vobscuro;
    width: 100%;

}
.btn-negro{
    background-color: $Negro;
    border: none;
    padding: 1rem;
    
}




.boton-amarillo {
    @include boton($amarillo, inline-block);
}

.boton-amarillo-block {
    @include boton($amarillo, block);
    width: 100%
}

.boton-verde {
    @include boton($Vobscuro, inline-block);
   
}
.boton-rojo-block{
    @include boton($rojo, block);
    width: 100%;

}
.boton-verde-block{
    @include boton($Vobscuro, block);
}