html {
    font-size: 62.5%;
    box-sizing: border-box;
    display: block;
   
   
    
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
    line-height: 1.8;
   
    background-color: $fondo;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: $fuenteTitulo;  
    color: $Vclaro;
}
p{
    font-family: $fuentePrincipal;
    color: $Blanco;
}

.ocultar{
    display: none;
}
.seccion {
    margin-top: $separacion / 2;
    margin-bottom: $separacion / 2;
}
.centrar{
    text-align: center;
    font-size: 3rem;
}

.w-100{
    width: 100%;
}