// Colores

$Negro: #000; 
$Blanco: #fff; 
$Vobscuro: #265C00 ;
$Vclaro: #68A225;
$fondo: #242921; 

// Font
$fuenteTitulo:'Merriweather', serif;
$fuentePrincipal:'Roboto', sans-serif;

$delgada: 300;
$regular: 400;
$bold: 700; 

// Responsive
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

$separacion: 5rem;