// Base
@import 'base/normalize';
// fuente import 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/botones';
@import 'base/formulario';
//Layout 

@import 'layout/header';
@import 'layout/slider';
@import 'layout/presentacion';
@import 'layout/footer';
@import 'layout/productos';
@import 'layout/producto';
@import 'layout/nosotros';
@import 'layout/blog';
@import 'layout/vistablog';
@import 'layout/carrito';


// Internas
@import 'internas/admin';
@import 'internas/login';